# /etc/systemd/system/fortinet.timer
[Unit]
Description=Timer for Fortinet Connect service

[Timer]
OnBootSec=3min
OnUnitInactiveSec=60min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
